.container
  .row
    .col-lg-9
      = bootstrap_flash
      = yield
    .col-lg-3
      .well.sidebar-nav
        %h3 Ostatnie wyjazdy:
        %ul.nav.nav-list
          - @trips.each do |trip|
            %li= link_to "#{trip.destination}", trip_path(trip)
      = link_to new_trip_path, class: 'mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-button--raised' do
        %i.material-icons add
