.container
  .row
    .col-lg-9
      = bootstrap_flash
      = yield
    .col-lg-3
      .well.sidebar-nav
        %h3 Ostatnie wyjazdy:
        %ul.nav.nav-list
          %li= link_to "Ostatni wyjazd", ""
          %li= link_to "wyjazd 2", "/path2"
          %li= link_to "wyjazd 3", "/path3"
