.page-header
  %h1 Create New Trip
= simple_form_for @trip, html: { class: "form form-horizontal trip" } do |f|
  .form-group
    .col-lg-10.form-row
      = f.input :started_at,
        label: 'Start',
        class: 'form-control'
    = f.error_span(:started_at)
  .form-group
    .col-lg-10.form-row
      = f.input :ended_at,
        as: :date,
        class: 'form-control',
        label: 'Koniec'
    = f.error_span(:ended_at)
  .form-group
    .col-lg-10.form-row
      = f.input :destination,
        class: 'form-control'
    = f.error_span(:destination)

  = f.error_span(:member)
  .form-group
    .col-lg-offset-2.col-lg-10
      = f.button :submit,class: 'btn btn-primary'
      = link_to t('.cancel', default: t("helpers.links.cancel")), trips_path, :class => 'btn btn-default'
