.page-header
  .trip-decription
    %h1 Podsumowanie wyjazdu
    = @trip.destination
    %h2 Total Wydatki
    = @trip.sum_expences
    %h2 Ile ludu
    = @members.count

%table.table.table-striped
  %thead
    %tr
      %th Imie
      %th Suma
      %th Różnica
      -# # %th=t '.actions', :default => t("helpers.actions")
  %tbody
    -  @members.each do |member|
      %tr
        %td= member.name
        %td= member.sum_expences(@trip.id)
        %td= member.sum_expences(@trip.id) - @trip.average_expences

    = link_to t('.back', :default => t("helpers.links.back")), trip_path(@trip), :class => 'btn btn-default'
    = link_to t('.edit', :default => t("helpers.links.edit")), edit_trip_path(@trip), :class => 'btn btn-default'


