= simple_form_for ([@trip, Member.new]) do |f|
  .form-group
    .form-row
      .col-md-4
        = f.input :name,
          class: 'form-control',
          label: 'Imie'
    .form-row
      .col-md-4
        = f.input :last_name,
          class: 'form-control',
          label: 'Nazwisko'
    .form-row
      .col-md-4
        = f.input :image, as: :file,
          class: 'form-control',
          label: 'Zdjęcie'
    .form-row
      .col-md-4
        = f.submit  'dodaj uczestnika' ,class: 'btn btn-primary'
